.card-dashboard .col{
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    height: 150px;
    background-color: white !important;
}
.card-dashboard .col h4 {
    line-height: 100px;
}